body {
    background-image: url('KERENMACABI_web_hands_white.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#SubjName, #SubsubjName, #datedis {
    width: 200px;
    background-color: pink;
}

#datedisText, #SubjNameText, #SubsubjNameText, #SubjName, #datedis, #SubsubjName, h2 {
    margin-left: 50%;
    margin-bottom: 20px;
}

#content {
    width: 600px;
    height: 100px;
    background-color: pink;
    margin-left: 30%;
    margin-top: 80px;
}

#content, #uploadddiv {
    float: left
}

div#uploadddiv {
    margin-left: 90%;
    margin-top: -100px;
}

#submitt {
    background-color: pink;
    margin-left: 30%;
    margin-top: 30%
}

img {
    margin-left: 900px;
    margin-top: -300px
}

div#addS {
    margin-left: 810px;
    margin-top: -790px;
}

div#addSS {
    margin-left: 810px;
    margin-top: 70px;
}

.fa-plus-circle:before {
    font-size: 25px
}

input#addsubjecttext, input#addsubsubtext {
    margin-left: 20px;
    margin-top: 5px;
}
body {
    overflow-x: hidden
}
