body {
    background-image: url('KERENMACABI_web_hands_white.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#EventType, #EventName, #datedis {
    width: 200px;
    background-color: pink;
}

#datedisText, #EventTypeText, #EventNameText, #EventType, #EventName, #datedis, h2 {
    margin-left: 50%;
    margin-bottom: 20px;
}

#content {
    width: 600px;
    height: 100px;
    background-color: pink;
    margin-left: 30%;
    margin-top: 80px;
}

#content, #uploadddiv {
    float: left
}

div#uploadddiv {
    margin-left: 90%;
    margin-top: -100px;
}

#submitt {
    background-color: pink;
    margin-left: 30%;
    margin-top: 30%
}

img {
    margin-left: 900px;
    margin-top: -300px
}

div#addET {
    margin-left: 810px;
    margin-top: -790px;
}

div#addEN {
    margin-left: 810px;
    margin-top: 70px;
}

.fa-plus-circle:before {
    font-size: 25px
}

input#addtypeeventtext, input#addnameventtext {
    margin-left: 20px;
    margin-top: 5px;
}
body {
    overflow-x: hidden
}